VITE_API_URL=https://multi-assessment-pro-be-production.up.railway.app
VITE_GOOGLE_CLIENT_ID=590031885011-31vp30d6kr8medh30njj35sqd0lu9k1d.apps.googleusercontent.com
VITE_ALLOWED_DOMAIN=interlaced.io
